<!DOCTYPE html>
<html>
<head>
	<title>Rabea Morkous Dance Studio</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
<nav style="background-color:purple " class="navbar navbar-expand-sm ">
  <!-- Brand/logo -->
  <a href="#"><img src="logo.pdf" ></a>
  
  <!-- Links -->
  <ul style="background-color:purple " class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('teampage') }}">Teachers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('familypage') }}">The studio family</a>
    </li>
  </ul>
</nav>

  <section class="page-section about-heading">
    <div class="container">
     
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
             
                <span class="section-heading-lower">About Our Studio</span>
              </h2>
              <p>RABEA MORKUS DANCE STUDIO LOCATED IN KAFER YASSEF, A VILLAGE IN THE NORTH OF PALESTINE . IT IS A UNIQUE INITIATIVE IN THE ARAB SECTOR
and offers a variety of extra-curricular dance classes for young people and adults 
</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


	
</body>
</html>